*{
    margin: 0;
    padding: 0;
}
:root{
    --headerBgColor: #000; /*e altre variabili globali*/
    --headerTextColor: #FFF;

    --BgColor: rgba(0,0,0,0); /*trasparente*/
    --TxtColor:#000;
    
    --footerBgColor: black;
    --footerTxtColor: white;

    --visitedLinkColor:rgb(230,12,83);
    --linkColor:rgb(255,255,255);

    --flagColor:rgb(213,103,66);
    --fontFamily: "Roboto Condensed", sans-serif;
}
html{ /* metto qua lo sfondo perche in body non coprirebbe i bordi*/
    font-size: 100%; /* definito dall'utente*/
    font-family: var(--fontFamily);
    line-height: 1.5em;
    margin: auto; /* centratura per i blocchi*/
    background-image: url(../images/bg.png);
}

/*************************************************************
*
*Header (dividere il file con i commenti in modo da renderlo più mantenibile senza spezzettarlo=aumentare il tempo di caricamento come es:tucano) 
*
**************************************************************/
header{
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
    text-align: center;
    padding: 1em;
}
header h1{
    content: url(../images/logo.png);
    width: 10%;
    margin: auto;
}
/*************************************************************
*
*Nav bar
*
**************************************************************/
nav{
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
    padding: 1em;
}
#menu{
    text-align: center;
}
#menu ul{
    margin:auto; /* da solo non fa niente perche centra nello spazio rimanente a destra, ma occupando tutta la pagina non ce n'è. devo dargli anche uyna dimensione e allora funziona*/
    max-width: 1024px; /*px si possono usare. layout responsive (al contrario di width: ) */
    list-style-type: none;/*toglie i punti della lista nel menu*/
}
#menu ul li{
    display: inline-block;/* fa si che non vadano a capo*/
    width:20%;
    margin: 0 0.5em;/*non sarebbe meglio suddividere il restante 20%?*/
    text-align: center;
}
nav a:link{
    color: var(--linkColor);
}
nav a:visited{
    color:var(--visitedLinkColor)
}
/********************************
*
*Lista di date dei concerti
*
*********************************/
#imgIndex{
    width: 80%;
}
main{/* spesso si da a body o main una max-width e ad html l'immagine di sfondo*/
    background-color: var(--BgColor);
    color: var(--TxtColor);
    margin: auto;
    width: 80%;
}
main.colonne{
    column-count: 3;
    width: 90%;
}
.colonne dl{
    font-size: 90%;
    margin: auto;
}
main.colonne dl div dt,main.colonne dl div dd{ /*classe colonne per il main*/
    display: inline-block;
}
dl div dd:nth-child(2) {
    color: var(--flagColor);
    font-weight: bold;
}
main.colonne time span{
    font-weight: bold;
}
/********************************************
*
*Footer
*
*********************************************/
footer{ /* in questo momento se ci fosse poco contenuto il footer sarebbe a metà dello schermo BRUTTO!! */
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding:1.0em;
    text-align: center;
    margin-top: auto;
}